[submodule "libraries/ATECCX08a"]
	path = libraries/ATECCX08a
	url = git@github.com:gili-yankovitch/SparkFun_ATECCX08a_Arduino_Library.git
[submodule "micro-aes"]
	path = micro-aes
	url = https://github.com/SmarterDM/micro-aes.git
